#'''
#VIEWPORT-SCALING-SCSS
#/.npmignore
#By James Walker.
#Copyright James Walker 2018. Public-domain software under the Unlicense.
#
#This file contains NPM ignore directives for viewport-scaling-scss.
#'''

build/*
dev/*
dist/*
wiki/*
workspace/*
.gitignore
.ipm
.npmignore
rollup.config.js

*.sublime-project
*.sublime-workspace

#'''
#End of file.
#'''